types = {
  "large" = {
    "cores" = 2,
    "memory" = 4096,
  },
  "small" = {
    "cores" = 1,
    "memory" = "1024"
  }
}

networks = {
  development = {
    domain = "dev.openvox.local"
    bridge = "vxlan64"
  }
  intern = {
    domain = "openvox.local"
    bridge = "vmbr0"
  }
}

vm_default = {
  type     = "small"
  network  = "development"
  sshfs = {
    mounts   = [{
      src = "puppetcode"
      dst = "/root/puppetcode"
    }]
  }
  openvox = "8" also the default
  openvox_prod_env = "/root/puppetcode" # set link for production environment directory
}

vms = {
  "d12a" = {
    template = "debian12"
    type     = "workstation"
    node     = "pve02"
    sshfs    = {
      mounts   = [{
        src = "puppetcode"
        dst = "/var/opt/puppetlabs/code/environments/production"
      }]
    }
    provision = [
      {name="cde::crafty", type="plan", args={code_dir="/var/opt/puppetlabs/code"}}
    ]
    openvox_prod_env = "/var/opt/puppetlabs/code/environments/production"
  }
}
