types = {
  "large" = {
    "cores" = 2,
    "memory" = 4096,
  },
  "small" = {
    "cores" = 1,
    "memory" = "1024"
  }
}

vm_default = {
  type     = "small"
  bridge   = "vmbr0"
  sshfs = {
    mounts   = [{
      src = "puppetcode"
      dst = "/root/puppetcode"
    }]
  }
}

vms = {
  "d12a" = {
    template = "debian12"
    type     = "workstation"
    node     = "pve02"
    sshfs    = {
      user    = "<user to connect to local terraform host>"
      private = "~/.ssh/id_ed25519.terraform"
    }   
    openvox = "8"  # default
    openvox_prod_env = "/root/puppetcode" # set link for production environment directory
  }
}
